<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Crypto HODLings
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addHodling()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="message" *ngIf="!hodlingsProvider.hodlings.length">
    <p>
      <strong>Progressive Web Application</strong> to keep track of your HODL portfolio.</p>
    <button ion-button full (click)="addHodling()" color="primary">Add Coins</button>
  </div>

  <ion-refresher *ngIf="hodlingsProvider.hodlings.length" (ionRefresh)="refreshPrices($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p class="message" *ngIf="hodlingsProvider.pricesUnavailable">Could not fetch prices. Make sure you are connected to the Internet or try again later.</p>
  <ion-list no-lines *ngFor="let hodling of hodlingsProvider.hodlings">

    <ion-card class="hodling" (click)="editHodling(hodling)">
      <ion-card-header>
        <strong>{{hodling.crypto}}/{{hodling.currency}}</strong>
      </ion-card-header>
      <ion-card-content>
        <p class="amount">
          <strong>Current Price:</strong> {{hodling.value | currency}}
        </p>
        <p>
          <strong>Coins:</strong> {{hodling.amount}}
        </p>
        <p *ngIf="hodling.value > 0" class="value">{{hodling.amount * hodling.value | currency}}</p>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>

<ion-footer padding>
  <p><strong>Note:</strong> Prices are fetched from Cryptonator's API and may vary accross exchanges</p>
</ion-footer>
